/* HOME PAGE ================ */

.home-box {
  padding-left: 4rem;
}

/* VIDEO PAGE =============== */
.video-page-container {
  padding-left: 1rem;
}

.video {
  width: clamp(30rem, 80%, 55rem);
}
.back-to-home {
  font-size: small;
}
.rehearsal-title {
  font-size: 2rem;
}

/* NOTES ======================= */

/* TODO fix: This styling isn't being applied */
.note-timestamp-button {
  margin-right: 5px;
}

/* IGNORE */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
